<% cache @product do %>
<% @products.each do |product| %>
  <div class="col-sm 12 col-md-4 col-xl-4 product_layout">
    <%= link_to image_tag(product.image_url, class:"img-responsive product_image"), product %>
    <p>  <%= product.name %> </p>
    <p>  <%= product.description %> </p>
    <p><strong>  <%= product.price %> </strong></p>
    <% if current_user && current_user.admin? %>
      <%= link_to "Edit", edit_product_path(product) %><br>
    <% end %>
    <br>
    <button type="button" class="btn btn-default "> <%= link_to "Show", product_path(product) %></button>

  </div>
<% end %>
<% end %>
