<p id="notice"><%= notice %></p>

<h1>Products</h1>


<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm 12 col-md-4 col-xl-4 product_layout">
        <%= image_tag(product.image_url, class:"img-responsive product_image") %>
        <p>  <%= product.name %> </p>
        <p>  <%= product.description %> </p>
        <p><strong>  <%= product.prize %> </strong></p>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'New Product', new_product_path %>
<br>
