<div class="row" data-product-id="<%= @product.id %>">
  <div class="col-md-4 col-md-offset-0   product_layout  bgdc-show">
    <p>
      <%= image_tag(@product.image_url, width: "350", class:"img-zoom img-thumbnail product_image", data_zoom_image: @product.image_url) %>
    </p>
    <% cache @product do %>
    <hr>
    <p class="left">
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <hr>
    <p class="left">
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <% end %>
    <hr>
    <p class="left">
      <strong>Price:</strong>
      <%= @product.price %>
    </p>
    <hr>
    <p class="left">
      <strong>  Views:</strong>
     <%= @product.views %>
    </p>

    <hr>
    <%= form_tag ("/payments/create") do %>
      <%= render "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>

    <hr>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Destroy |', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
      <%= link_to 'Back', products_path %>



    <hr>
    <p class="left">Average Rating: <div class="rated" id="average_rating" data-score="<%= @product.average_rating %>"></div> </p>
    <hr>
    <p>
      <%= render 'new_comment' %>
    </p>
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <p>
      <%= render "comments" %>
    </p>


    <%= will_paginate @comments %>
  </div>
</div>
