<div class="row">
  <div class="col-md-4 col-md-offset-0   product_layout  bgdc-show">
    <p>
      <%= image_tag(@product.image_url, class:"img-zoom img-thumbnail product_image", data_zoom_image: @product.image_url) %>
    </p>
    <hr>
    <p class="left">
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <hr>
    <p class="left">
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <hr>
    <p class="left">
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <hr>
    <%= form_tag ("/payments/create") do %>
      <%= render "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>

    <hr>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
    <hr>
    <p class="left">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    <hr>
    <p>
      <%= render 'new_comment' %>
    </p>
    <p>
      <%= render "comments" %>
    </p>


    <%= will_paginate @comments %>
  </div>
</div>
