<!DOCTYPE html>
<html>
  <head>
    <title>Newwebapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <section class=" container-fluid">
        <div class="navbar-collapse collapse">
          <ul class=" nav navbar-nav navbar-right">
            <li><%= link_to "Home", home_path, :class => "nav-color" %></li>
            <li><%= link_to "About", about_path, :class => "nav-color" %></li>
            <li><%= link_to "Contact", contact_path, :class => "nav-color" %></li>
            <li><%= link_to "Products", products_path, :class => "nav-color" %></li>
            <li><%= link_to "Users", users_path, :class => "nav-color"%></li>
            <li><%= link_to "Admin", admin_path, :class => "nav-color"%></li>
            <li class="form-inline navbar-form"><%= form_tag("/products", method:"get") do %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>

            <% end %></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "nav-color") %>
              <% else %>
                <%= link_to('Login', new_user_session_path, :class => "nav-color") %>
              <% end %>
            </li>
          </ul>
        </div> <!--end navbar-collapse-->
      </section><!--end-container-fluid-->
    </nav> <!--end navigation bar-->


    <div class="page_wrap">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </div>

    <footer>
      <div class="site_footer">
        &copy 2016 WebDevelopment Assistance
      </div>
    </footer>
  </body>
</html>
