<!DOCTYPE html>
<html>
  <head>
    <title>Newwebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ul>
        <li><%= link_to "index", "static_pages#index" %></li>
        <li><%= link_to "about", "static_pages#about" %></li>
        <li><%= link_to "contact", "static_pages#contact" %></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      &copy 2016 WebDevelopment Assistence
  </body>
</html>
