<!DOCTYPE html>
<html>
  <head>
    <title>Newwebapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <section class=" container-fluid">
        <div class="navbar-collapse collapse">
          <ul class=" nav navbar-nav navbar-right">
            <li><%= link_to "Home", home_path, :class => "nav-color" %></li>
            <li><%= link_to "About", about_path, :class => "nav-color" %></li>
            <li><%= link_to "Contact", contact_path, :class => "nav-color" %></li>
            <li><%= link_to "Products", products_path, :class => "nav-color" %></li>
          </ul>
        </div> <!--end navbar-collapse-->
      </section><!--end-container-fluid-->
    </nav> <!--end navigation bar-->


  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>

    <div class="item <%= "active" if product == Product.first %> img-responsive">
      <%= image_tag(product.image_url) %>
      <div class="carousel-caption">
        <%= product.name %>
      </div>
    </div>
    <% end %>
  </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <div class="page_wrap">
      <%= yield %>
    </div>

    <footer>
      <div class="site_footer">
        &copy 2016 WebDevelopment Assistance
      </div>
    </footer>
  </body>
</html>
